.list-cell:session{
    -fx-text-fill: #ac0000;
    -fx-background-color: #888888;

}
.list-cell{
    -fx-text-fill: white;    
    -fx-background-color: #888888;
}
.list-cell:inactive{
    -fx-text-fill: black;    
    -fx-background-color: #888888;

}