.stroke {
    margin: 0;
    font-family: arial;
    font-size:70px;
    font-weight: bold;
    }

    svg {
        display: block;
      }
      
      text {
        fill: black;
        stroke: red;
        stroke-width: 3;
      }