.dialogues{
    -fx-background-color: white;
}
.dialogues .button {
    -fx-background-color:  #bbbbbb;
    -fx-text-fill: red;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: red;
}

.dialogues:header .header-panel {
    -fx-background-color: white;
}


.dialogues .label {
    -fx-text-fill: red;
    font: 16 calibri;
    -fx-font: 16 calibri;
    font-style: normal bold;
    -fx-font-style: normal bold;
}