.menu-item .label {
    -fx-text-fill: red;
    -fx-font: 16 calibri;
    -fx-font-style: normal bold;
}

.context-menu {
	background-color: white;
    /*-fx-background-color: #888888;*/
    -fx-background-radius: 10;
}