.list-cell:session{

    -fx-text-fill: red;
    -fx-background-color: #bbbbbb;

}
.list-cell{
    -fx-text-fill: white;    
    -fx-background-color: #bbbbbb;
}

.list-cell:inactive{
    -fx-text-fill: black;    
    -fx-background-color: #bbbbbb;
}