.menu {   
    -fx-background-color: red;
    /*-fx-text-fill: #888888;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    border-radius: 10;
*/
}

.text_field
{
	-fx-border-color: red;
	-fx-background-radius: 20;
	-fx-border-radius: 20;
	-fx-text-fill: red;
}
